/* Base */

@charset "UTF-8";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #d2d2d2;
  font-family: system-ui, helvetica, arial, sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 1.3;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:visited {
  color: #0000ff;
}

a:active {
  color: #ff0000;
  text-decoration: underline;
}

em {
  font-style: italic;
}

img {
  height: auto;
  width: 100%;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  padding-left: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

/* Helper */

.hide {
  display: none !important;
}

/* Components */

/* Info Bar & Modal */

.info-bar {
  background-color: #d2d2d2;
  height: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.5rem;
  position: fixed;
  width: 100%;
}

.info-bar div {
  display: block;
  float: left;
  width: 50%;
}

.info-modal {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
}

.info-modal div {
  margin-bottom: 1rem;
}

.info-modal__history ul {
  list-style-position: inside;
  list-style-type: none;
  margin-bottom: 1rem;
}

.info-modal__history__item:before {
  content: '– ';
  margin-left: -0.65rem;
}

.info-modal__history__item,
.info-modal__history__description {
  display: block;
  padding-left: 0.65rem;
}

/* Projects */

.project-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  width: 100%;
}

.project img {
  margin-bottom: 1rem;
}

.project-name {
  display: block;
  margin-bottom: 0.5rem;
}

/* Breakpoints */

/* Mobile and below */

@media (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
  
  .info-bar div:nth-of-type(2) {
    text-align: right;
  }

  .info-modal {
    width: 100%;
  }

  .project-container {
    grid-template-columns: 1fr;
  }
}

/* Tablet and above */

@media (min-width: 601px) {
  .info-bar div:nth-of-type(2) {
    padding-left: 10px;
  }

  .info-modal {
    width: 30rem;
  }

  .info-modal__history {
    width: 25rem;
  }

  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop and above */

@media (min-width: 1092px) {
  a:hover,
  .info-button:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
  }

  .project-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Large desktop and above */

@media (min-width: 2000px) {
  .project-container {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
