/* Base */

@charset "UTF-8";

@font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSansWeb-Regular.woff2");
}

@font-face {
  font-family: "Untitled Sans Italic";
  src: url("../fonts/UntitledSansWeb-RegularItalic.woff2");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #d2d2d2;
  font-family: Untitled Sans, helvetica, arial, sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 18px;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:visited {
  color: #0000ff;
}

a:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

a:active {
  color: #ff0000;
  text-decoration: underline;
}

p {
  margin-bottom: 0.5rem;
}

img {
  float: left;
  height: auto;
  width: 100%;
}

em {
  font-family: "Untitled Sans Italic";
  font-style: normal !important;
}

/* Helper */

.show {
  display: block;
}

.hide {
  display: none;
}

/* Components */

.info_bar {
  background-color: #d2d2d2;
  height: 2.5rem;
  padding-top: 0.5rem;
  position: fixed;
  width: 100%;
}

.info_bar div {
  display: block;
  float: left;
  padding-left: 3rem;
  width: 50%;
}

.info_button:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.info_modal {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
}

.info_modal div {
  margin-bottom: 1rem;
  width: 50%;
}

.info_modal ul {
  margin-bottom: 1rem;
}

.info_modal ul {
  list-style-type: none;
  list-style-position: inside;
}

.info_modal li:before {
  content: '—';
}

.projects_container {
  padding-left: 1rem;
  padding-top: 2.5rem;
}

.project {
  float: left;
  margin-bottom: 1rem;
  /* gutter */
  margin-right: 1rem;
}

.project img {
  margin-bottom: 1rem;
}

.project_name {
  display: block;
  margin-bottom: 0.5rem;
}

/* Breakpoints */

@media (max-width: 600px) {
  .info_bar div {
    padding-left: 2rem;
  }

  .info_modal div {
    width: 100%;
  }

  .projects_container {
    margin-right: 1rem;
  }

  .project {
    /* gutter */
    width: 100%;
  }
}

@media (min-width: 601px) {
  .info_modal div {
    width: 75%;
  }

  .project {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 1092px) {
  .info_modal div {
    width: 50%;
  }

  .project {
    width: calc(25% - 1rem);
  }
}