@charset "UTF-8";

$font_size_desktop: 18px;
$line_height_desktop: 23px;

$font_size_mobile: 19px;
$line_height_mobile: 24px;

$line_length: 31em;

$blue: #0000ff;
$gray: #eeeeee;

@mixin font {
  font-family: system-ui, helvetica, arial, sans-serif;
  font-size: $font_size_desktop;
  letter-spacing: 0.01em;
  line-height: $line_height_desktop;

  @media (max-width: 500px) {
    font-size: $font_size_mobile;
    line-height: $line_height_mobile;
  }
}

html {
  background-color: $gray;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

body {
  @include font;

  div {
    margin-bottom: $line_height_desktop;
  }
}

p {
  max-width: $line_length;
}

a {
  border-bottom: solid 1px currentColor;
  color: $blue;
  text-decoration: none;

  &:active,
  &:hover {
    border-bottom: solid 1px transparent;
  }

  &:visited {
    color: $blue;
  }
}

li:before {
  content: '• ';
}

.info p:not(:last-of-type) {
  margin-bottom: $line_height_desktop;
}

@media (max-width: 500px) {
  p {
    max-width: 100%;
  }
}
