* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p {
  margin-bottom: 1em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}