@font-face {
  font-family: Cinetype;
  src: url("../fonts/GT-Cinetype-Regular.woff2");
}

body {
  background: #000;
  color: white;
  font-family: Cinetype, "SF Pro Text", helvetica, arial, sans-serif;
  font-size: 22px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 10px;
  overflow-x: hidden;
}

code {
  font-family: 'menlo', 'courier', monospace;
  font-size: calc(100% - 1px);
}

code .object {
  color: rgb(40, 150, 255);
}

code .method {
  color: rgb(230, 230, 170);
}

pre {
  font-family: 'menlo', 'courier', monospace;
  font-size: 14px;
  line-height: 1.1em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  display: inline-block;
  background: blue;
  color: white;
  text-decoration: none;
}

a:hover {
  background: white;
  color: blue;
}

a:active {
  color: red;
}

div {
  margin-bottom: 2.4em;
}

#time_display {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  max-width: 500px;
}

.cite_text {
  display: block;
  font-size: calc(100% - 7px);
  line-height: 1.4em;
  margin-top: 2px;
}

.half_line_space {
  margin-bottom: 0.5em;
}

@media (max-width: 599px) {
  body {
    font-size: 17px;
  }
  span pre {
    font-size: 7px;
    line-height: 1em;
  }
  p {
    max-width: 100%;
  }
}