.chapter {
  font-family: helvetica, arial, sans-serif;
  font-size: 17px;
}

.highlighted {
  background-color: yellow;
}

.money {
  border: dotted 1px currentcolor;
  color: green;
}

.water {
  color: dodgerblue;
  font-style: italic;
  letter-spacing: 0.1em;
}
