.example .nav {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.example .nav-shorter {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 50%;
}
