.example .container-1 {
  align-items: center;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.example .container-2 {
  align-items: end;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.example .container-3 {
  align-items: center;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.example .element {
  background-color: dodgerblue;
  height: 50px;
  width: 50px;
}
