.example div {
  background-color: deepskyblue;
  border-top: solid black 4px;
  padding: 10px;
}

.example div:not(:first-child) {
  margin-top: 20px;
}

.example div:nth-child(2) {
  display: none;
}
