<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/teaching/core-1-interaction/css/syntax.css">
    <link rel="stylesheet" href="/teaching/core-1-interaction/css/example.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <main class="main main--example">
      
<div class="code">
<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code></code></pre></div></div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>

...


</code></pre></div></div>
</div>
<div class="example">

...

</div>

    </main>
  </body>

</html>
